# Dataset
DATA_PATH=input/tinyshakespeare.txt

# Hyperparameters
BATCH_SIZE=32
BLOCK_SIZE=64          # The maximum sequence length context (e.g., look back 64 chars)
LEARNING_RATE=0.001
EPOCHS=10
EVAL_ITERS=100         # How often we calculate loss

# Model Architecture Parameters
EMBED_SIZE=128         # Number of embedding dimensions for each character
HIDDEN_SIZE=256        # Number of hidden units (LSTM) or FeedForward dimension (Transformer)
NUM_LAYERS=3           # Number of LSTM or Transformer block layers
NUM_HEADS=4            # Number of attention heads (Transformer only)